body{
	font-family: Arial, sans-serif;
	margin: 0;
}

.links-list {
	list-style-type: none;
	background: #3895c3;
	float: right;
	color: #000000;
	font-size: 14pt;
	z-index: -1;
	border: 1px 0 1px 1px solid #702f8a;
	*border: 0;
	width: 50%;
	height: 0;
	margin-left: 0px;
	padding: 0;
	text-indent: hanging 5px;
	overflow: hidden;
	margin-top: 0;
	display: none;
}

.links-list a {
	color: #ffffff;
	height: 0;
	transition: height .1s ease .2s;
}

.links-list li {
	margin: 3px;
	margin-left: 5px;
}

.section-list {
	width: 700px;
	transition: transform .5s;
}

.section-item {
	left: 0;
	background: #000000;
	color: #009fdb;
	font-size: 20pt;
	border: solid #702f8a;
	border-width: 0 0 1px;
	z-index: 3;
	width: 50%;
	text-align: left;
	transition: all .3s;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 0;
	padding-right: 0;
}

.section-item img {
	width: 25px;
	height: 25px;
	float: right;
	padding: 0;
	margin: 0;
}

.secTitle {
	*float: left;
	margin-left: 10px;
}

.section-menu {
	left: 0;
	width: 600px;
}

.header {
	margin: 0;
	background: #067AB4;
	padding: 3px 50px;
}

.header h2 {
	font-weight: bold;
	font-size: 24pt;
	margin: 0;
	color: #ffffff;
}

.shown {
	display: block;
	z-index: 1;
	transition: all ease .25s;
	float: right;
	width: ;
}

.shownheader {
	width: 100%;
	background: #3895c3;
	border-bottom: none;
	color: #ffffff;
	text-align: right;
}

.shownheader .secTitle {
	margin-right: 25px;
}

.contacts-toggle {
	margin-top: 75px;
	text-align: center;
	font-size: 24pt;
	background: #3895c3;
	color: #ffffff;
	width: 350px;
}

.contact-table {
	font-size: 10pt;
}

td {
	box-sizing: content-box;
	padding: 2px;
}


@media screen and (max-width: 700px){

	.iconified {
		transform: translate(-300px);
	}

	.links-list {
		margin-left: 0;
	}
}